@import "variables";

html {
height: 100%;
position: relative;
}

body {
height: 100%;
position: relative;
font-size: 16px;
line-height: 1.5;
}

// Typography

p {
	line-height: 1.65em;
	color: #636C7B;
}
h1 {
  	font-size: 4em;
  	font-weight: 700;
}
h2 {

  	font-size: 3em;
  	font-weight: 300;
  	text-transform: uppercase;
}
h3 {

  	font-size: 2em;
  	line-height: 1.5em;
  	letter-spacing: 1px;
}
h4 {

  	font-size: 1.67em;
}
h5 {

  	font-size: 0.89em;
}
small {
	font-size: 0.89em;
	line-height: 1.25em;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h2, h3, h4, small {
	color: #2E3B4E;
}
.p-large {
	font-size: 22px;
	line-height: 36px;
}
// General Items

.section-header {
	padding-bottom: 85px;
	.divider-line {
		height: 1px; 
		background-color: $text-color; 
		text-align: center;
		span {
			background-color: white; 
			position: relative; 
			top: -0.75em;
			padding: 0 30px;
			text-transform: uppercase;
		}
	}
}

.container-full {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.navbar-transparent {
background-color: transparent;
position: absolute;
color: #ffffff;
top: 0px;
right: 0;
left: 0;
z-index: 1001;
padding: 35px 0px;
}

// Landing Page

// Navigation

.navbar-brand-custom {
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 0;
	img {
		display: inline;
	}
}
.navbar-custom {
	display: none;
}
.navbar-toggle-custom .icon-bar {
background-color: #FFFFFF;
}

// Forms

.form-inline-custom{
	width: auto;
	.form-control-custom {
		width: 260px;
		height: 46px;
		background-color: #FFFFFF;
		margin: 0 auto;
	}
}

// Hero

.hero-container {
	position: relative;
	height: 95%;
	z-index: 0;
	background: none;
	text-align: center;
}
.hero-content {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	clear: both;
	.hero-headline {
		padding-top: 200px;
	}
	.cta-forms {
		padding-top: 75px;
	}
	h1 {
		color: #FFFFFF;
		line-height: 1.25em;
		font-weight: 700;
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}
	p {
		padding-top: 8px;
	}
	small {
		color: #FFFFFF;
	}
	@media (min-width: 1441px) {
		.hero-headline {
		padding-top: 150px;
		}
		h1 {
			font-size: 86px;
		}
		.cta-forms {
			padding-top: 100px;
		}
	}
}
.hero-scroll {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	background: image-url('web/down-arrow.svg') bottom center no-repeat;
	padding-bottom: 25px;
	margin: 0 0 25px 0;
	color: #fff;
}
.hero-background {
	left: 0px;
	top: 0px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	z-index: -999998;
	position: absolute;
	.hero-img {
		position: absolute;
		margin: 0px;
		padding: 0px;
		border: none;
		max-height: none;
		z-index: -999999;
		top: 0px;
		width: 100%;
	}
	.about-img {
		height: 100%;
	}
}

// Mission

.mission-content {
	text-align: center;
	padding: 50px 0 75px;
	h3 {
		font-weight: 500;
		line-height: 64px;
		font-style: italic;
	}
}

// Features

.content {
	
	.section {
		padding-bottom: 100px;
	}
	.feature-icon {
		padding-top: 75px;
		float: left;
	}
	h4 {
		clear: both;
		font-weight: 500;
		line-height: 1.5em;
		text-transform: uppercase;
		padding: 15px 0 30px;
	}
	.feature-copy-right {
		padding-left: 50px;
	}
	.feature-copy-left {
		padding-right: 50px;
	}
}

// Clients

.customer-content {
	background-color: #FFFAF4;
	margin-bottom: 75px;
	.row {
		padding: 25px 0;
	}
	.customer-copy {
		padding-top: 100px;
		text-align: center;
		img {
			padding-bottom: 10px;
		}
		h3 {
			font-weight: 400;
			color: #F8AE37;
			line-height: 50px;
			letter-spacing: 1px;
		}
	}
	.feature-image {

	}
}

// Onboarding

.onboard-content {
	text-align: center;
	.p-large {
	padding-top: 20px;
	}
	.onboarding-example {
		margin-top: 50px;
		padding-bottom: 75px;
		position: relative;
		.onboaring-img {
			position: relative;
		}
		.onboarding-video {
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 94px;
			margin-left: 137px;
		}
	}
}

// CTA

.cta {
	background-color: #2CB5A8;
	text-align: center;
	h3 {
		padding-top: 75px;
		font-weight: 600;
		color: #FFFFFF;
	}
	.cta-forms {
		padding: 50px 0 25px;
	}
	p {
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 50px;
	}
}

// Footer

footer {
	background-color: #FFF5E7;
	.footer-links {
		.footer-logo {
			padding-top: 10px;
		}
		padding: 50px 0 25px;
		ul {
		list-style-type: none;
		}
		h5 {
			text-transform: uppercase;
			color: $brand-primary;
		}
		li {
		font-size: 14px;
		font-weight: 300;
		list-style-type: none;
		}
		.list-links {
			padding-left: 0;
		}
		a {
			color: #FFD187;
		}
	}
}



// About Us Page

.brand-alt	 {
	color: $brand-primary;
}

.about-img {
	position: absolute;
	min-height: 100%;
}

// Story-Content

.story-content {
	text-align: center;
	padding-top: 50px;
	h3 {
		padding: 10px 0 30px;
		font-style: italic;
	}
	.section-header {
		padding-top: 75px;
	}
}

// Investors 

.investor-logos {
	padding-bottom: 50px;
}


// Sign Up Page

.signup {
	.section-header {
	padding: 125px 0 50px;
	}
	small {
		color: #ffffff;
	}
	h3 {
		color: #FFFFFF;
		line-height: 1.25em;
		font-weight: 700;
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}
	p {
		padding-top: 20px;
		color: #FFFFFF;
	}
	.signup-social {
		padding-top:50px;
	}
}

.signup-img {
	position: absolute;
	left: 0;
	width: 100%;
	min-height: 100%;
}


// Mobile

@media(max-width:767px){
	p {
		font-size: 1em;
		line-height: 1.5em;
	}
	h1 {
	  	font-size: 1.75em;
	  	text-transform: uppercase;
	}
	h2 {

	  	font-size: 2em;
	}
	h3 {
	  	font-size: 1.4em;
	}
	h4 {

	  	font-size: 1.3em;
	}
	h5 {

	  	font-size: 0.89em;
	}
	small {
	font-size: 0.75em;
	}
	.navbar {
		margin-bottom: 10px;
		background-color: #fff;
	}
	.navbar-transparent {
	padding: 10px 0 0;
	}
	.navbar-custom {
	display: inline;
	}
	.navbar-brand-custom {
		font-size: 16px;
		font-weight: 700;
		color: $brand-primary;
		text-transform: uppercase;
		padding-left: 30px;
	}
	.navbar-buttons {
		display: none;
	}
	.navbar-toggle-custom {
		margin-top: 0;
		.icon-bar {
		background-color: $text-color;
		}
	}
	.navbar-collapse {
		box-shadow: none;
		padding-top: 15px;
		li {
			text-align: center;
			border-bottom: 1px solid $text-color;
			margin-left: 30px;
			margin-right: 30px;
			a {
				color: $text-color;
				font-weight: 500;
			}
		}
	}
	.hero-container {
		height: 100%;
		.hero-background {
			margin-top: 60px;
		}
	}
	.hero-content,
	.signup {
		.cta-forms {
			padding-top: 30px;
		}
		h1 {
			margin-top: 0px;
		}
		.hero-headline {
			padding-top: 85px;
		}
		small {
			font-size: 0.5em;
		}
	}
	.hero-background {
		.hero-img {
			position: relative;
			height: 100%;
			min-width: 100%;
		}
	}
	.form-inline-custom .form-control-custom {
		font-size: 12px;
		width: 196px;
		height: 35px;
		background-color: #FFFFFF;
		margin: 0 auto;
	}
	.section-header {
		padding-top: 75px;
		padding-bottom: 0;
	}
	.feature-section{
		text-align: center;
		padding: 50px 0 25px;
		h4 {
			color: $brand-primary;
		}
	}
	.content-container {
		position: relative;
	}
	.content-content {
		text-align: center;
		padding-top: 25px;
	    top:0;
	    left:0;
	    position: absolute;
	    p {
	    	color: #ffffff;
	    }
	}
	.support-section {
		text-align: center;
		padding-top: 50px;
		.client-image {
			padding-top: 20px;

		}
	}

	.cta {
		margin-top: 50px;
		h3 {
			padding-top: 50px;
		}
		small {
			color: #ffffff;
		}
	}
	footer {
		text-align: center;
	}

	.about-hero {
		height: 38%;
	}

	.investor-group {
		.section-header {
		padding-bottom: 25px;
		}
		img {
			padding-top: 10px;
		}
		.row {
			padding-bottom: 25px;
		}
	}

	.signup {
		.section-header {
		display: none;
		}
		h3 {
			padding-top: 70px;
		}
		.signup-social {
			padding-top: 0;
		}
	}

	.test {
		height: 100%;
		position: relative;
		.test-img {
			height: 100%;
			position: absolute;
		}
	}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {

	.hero-content,
	.signup {
		.cta-forms {
			padding-top: 10px;
		}
		h1 {
			margin-top: 0px;
		}
		.hero-headline {
			padding-top: 65px;
		}
		small {
			font-size: 0.5em;
		}
	}

	.image-container {
		height: 50%;
	}

}