html {
height: 100%;
position: relative;
}

body {
height: 100%;
position: relative;
font-size: 16px;
line-height: 1.6;
}

// Typography

p {
	line-height: 1.65em;
	color: #636C7B;
}
h1 {
  	font-size: (16px * 4);
}
h2 {

  	font-size: (16px * 3);
  	font-weight: 300;
  	text-transform: uppercase;
}
h3 {

  	font-size: (16px * 2);
  	line-height: 50px;
  	letter-spacing: 1px;
}
h4 {

  	font-size: (16px * 1.67);
}
h5 {

  	font-size: (16px * 0.89);
}
small {
	font-size: (16px * 0.89);
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h2, h3, h4, small {
	color: #2E3B4E;
}
.p-large {
	font-size: 22px;
	line-height: 36px;
}
// General Items

.section-header {
	padding-bottom: 85px;
	.divider-line {
		height: 1px; 
		background-color: $text-color; 
		text-align: center;
		span {
			background-color: white; 
			position: relative; 
			top: -0.5em;
			padding: 0 30px;
			text-transform: uppercase;
		}
	}
}

.container-full {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.navbar-transparent {
background-color: transparent;
position: absolute;
color: #ffffff;
top: 0px;
right: 0;
left: 0;
z-index: 1001;
padding: 35px 0px;
}

// Landing Page

// Navigation

.navbar-brand-custom {
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 0;
	img {
		display: inline;
	}
}
.navbar-custom {
	display: none;
}
.navbar-toggle-custom .icon-bar {
background-color: #FFFFFF;
}

// Forms

.form-inline-custom{
	width: auto;
	.form-control-custom {
		width: 260px;
		height: 46px;
		background-color: #FFFFFF;
		margin: 0 auto;
	}
}

// Hero

.hero {
	position: relative;
	min-height: 100%;
	text-align: center;
}
.hero-img {
	position: absolute;
	left: 0;
	width: 100%;
	min-height: 100%;
	background: image-url('home/web/hero-img.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 1px;
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
	.row {
		padding-top: 200px;
	}
	.cta-forms {
		padding-top: 75px;
	}
	h1 {
		color: #FFFFFF;
		line-height: 1.25em;
		font-weight: 700;
	}
	p {
		padding-top: 8px;
	}
	small {
		color: #FFFFFF;
	}
	@media (min-width: 1441px) {
		h1 {
			font-size: 86px;
		}
		.cta-forms {
			padding-top: 150px;
		}
	}
}
// Mission

.mission-content {
	text-align: center;
	padding: 50px 0 75px;
	h3 {
		font-weight: 500;
		line-height: 64px;
		font-style: italic;
	}
}

// Features

.features-content {
	.section {
		padding-bottom: 100px;
	}
	h4 {
		font-weight: 400;
		color: #F8AE37;
		line-height: 36px;
		text-transform: uppercase;
		padding: 100px 0 30px;
	}
	.feature-copy-right {
		padding-left: 50px;
	}
	.feature-copy-left {
		padding-right: 50px;
	}
}

// Clients

.customer-content {
	padding-bottom: 75px;
	.customer-copy {
		padding-top: 100px;
		text-align: center;
		img {
			padding-bottom: 10px;
		}
		h3 {
			font-weight: 400;
		}
	}
}

// Onboarding

.onboard-content {
	text-align: center;
	.p-large {
	padding-top: 20px;
	}
	.onboarding-video {
		padding: 50px 0 75px;
	}
}

// CTA

.cta {
	background-color: #2CB5A8;
	text-align: center;
	height: 400px;
	h3 {
		padding-top: 75px;
		font-weight: 600;
		color: #FFFFFF;
	}
	.cta-forms {
		padding: 50px 0 25px;
	}
	p {
		text-transform: uppercase;
		color: #FFFFFF;
	}
}

// Footer

footer {
	background-color: #FFF5E7;
	.footer-links {
		padding: 50px 0 25px;
		ul {
		list-style-type: none;
		}
		h5 {
			text-transform: uppercase;
			color: $brand-primary;
		}
		li {
		font-size: 14px;
		font-weight: 300;
		list-style-type: none;
		}
		.list-links {
			padding-left: 0;
		}
	}
}



// About Us Page

// Story-Content

.story-content {
	text-align: center;
	padding: 50px;
	.col-lg-10 {
	width: 82.333333%;
	}
	.col-lg-offset-1 {
	margin-left: 8.8333333333%;
	}
	h3 {
		padding: 10px 0 30px;
		font-style: italic;
	}
	.section-header {
		padding-top: 75px;
	}
}