<div class="headline">
  <h1>Resend confirmation instructions</h1>
</div>

<div class="edit">
   <div class="edit-fields">
      <div class="edit-groups">
        <%= bootstrap_form_for resource, as: resource_name, url: confirmation_path(resource_name), :html => {:method => :post}, :id => 'activation-form', layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
          	<%= devise_error_messages! %>
            <%= f.email_field :email, required: true, autofocus: true %>
           
            <div class="form-actions form-pull-right">
              <%= f.submit "Resend confirmation instructions", class: "btn-custom btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
</div>
