<div class="row download-background">
	<div class="col-lg-7">
		<div class="col-lg-8 download-content">
			<h2>A Modern Company Directory For You and Your Team.</h2>
			<p class="download-altcolor">Download the app and join your team.</p>
			<div class="download-form">
				 <div class="edit-btns">       
			        <button type="button" class="btn-custom btn-primary">Download Badge</button>
			      </div>
			</div>
		</div>
	</div>
</div>