<div class="col-lg-6 col-lg-offset-3 main">
	<div class="headline">
  		<h1>Download</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="download-background-left"></div>
		<div class="download-screenshot">
			<%= image_tag "image1.png" %>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="download-content">
			<h2>A modern company directory for you and your team.</h2>
			<p>Download the app and join your team</p>
			<div class="download-form">
				<div class="input-group">
			      <input type="text" class="form-control">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Send Link</button>
			      </span>
			    </div>
			</div>
		</div>
	</div>


