<div class="row download-background">
	<div class="col-lg-7">
		<div class="col-lg-8 download-content">
			<h2>Your Company Directory, Completely Reinvented.</h2>
			<p class="download-altcolor">Download the app and join your team.</p>
			<div class="download-form">
				 <div class="edit-btns">  
				 			<% if @platform == :ios %>     
				        <a class="btn-custom btn-primary" href="itms-services://?action=download-manifest&url=https://badge.co/Headshot-ios.plist">Download Badge</a>
				       <% elsif @platform == :android %>
				       	<a class="btn-custom btn-primary" href="https://play.google.com">Download Badge</a>
				       <% else %>
				       		Sorry, Badge is currently available on iOS and Android only.
				       <% end %>
			      </div>
			</div>
		</div>
	</div>
</div>