
</div>
<div class="row download-background">
<div class="col-lg-5">
	<div class="download-screenshot pull-right">
		<%= image_tag "image1.png" %>
	</div>
</div>
<div class="col-lg-7">
	<div class="col-lg-8 download-content">
		<h2>A Modern Company Directory For You and Your team.</h2>
		<p class="download-altcolor">Download the app and join your team</p>
		<div class="download-form">
			<p class="field-description">Text your phone a link to the app:</p>
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-btn">
				<button class="btn btn-primary" type="button">Send Link</button>
				</span>
			</div>
		</div>
	</div>
</div>
</div>