<main role="main">

    <div class="hero">
        
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="../" class="navbar-brand">Badge</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <btn class="btn-custom btn-default">Sign Up</btn>
                        <btn class="btn-custom btn-default">Login</btn>
                    </ul>
                </nav>
            </div>
        </header>

    </div>

    <div class="main">
        <div class="container">

            <div class="story-content">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Story</h2>
                    <h3>During the fall of 2013, Badge was created with a simple purpose: support the people behind incredible companies. </h3> 
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p>In the fall of 2010, a then 25-year-old Michael Preysman left his job in venture capital to start his own business.</p>
                     <p>He never expected to work in fashion, but a passion for great design and frustration with the lack of innovation in the retail space, led him to build Everlane. He hasn’t looked back.</p>
                     <p>While the team skews young, our employees have cut their teeth at places like Google, Yelp, Gilt Groupe, American Apparel, Marc Jacobs, J.Crew, Goldman Sachs, Pentagram, and The Gap.</p>
                     <p>It’s a motley group held together by a shared passion for pushing boundaries and challenging conventions. We work in an airy new office in San Francisco's Mission District. Since our biggest customer base is in New York City, we have a small team on the ground there, as well. It's challenging at times, but we visit each other often.</p>
                </div>
                <div class="section-header col-lg-10 col-lg-offset-1">
                    <div class="divider-line">
                        <span>
                            Investors
                        </span>
                    </div>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                <%= image_tag ("home/web/investor-logo.png"), :width => "195" %>
                <%= image_tag ("home/web/investor-logo.png"), :width => "195" %>
                <%= image_tag ("home/web/investor-logo.png"), :width => "195" %>
                <%= image_tag ("home/web/investor-logo.png"), :width => "195" %>
                </div>

            </div>

        </div>
    </div>
</main>

</div>
<footer>
    <div class="col-lg-6 col-lg-offset-3">
        <ul class="footer-links">
            <li class="col-lg-4">
                <div class="footer-headline">
                    <h6>Learn More</h6>
                </div>
                <ul>
                    <li>
                        <a href="/our-features">Features</a>
                    </li>
                    <li>
                        <a href="/our-features">About Us</a>
                    </li>
                </ul>
            </li>
            <li class="col-lg-4">
                <div class="footer-headline">
                    <h6>Get In Touch</h6>
                </div>
                <ul>
                    <li>
                        <a href="/our-features">Contact Us</a>
                    </li>
                    <li>
                        <a href="/our-features"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </li>
            <li class="col-lg-4">
                <div class="footer-headline">
                    <h6>Badge</h6>
                </div>
                <ul>
                    <li>
                        <a href="/our-features">Login</a>
                    </li>
                </ul>
            </li>
        
</footer>