<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">

    <div class="headline">
      <h2>Company Profile</h2>
    </div>
    
    <div class="profile">
      <div class="profile-picture">
        <div class="profile-circle">
            <h1><span>F</span></h1>
        </div>
      </div>
      <div class="profile-info">
        <div class="profile-name">
          <h3>Triage</h3>
        </div>
        <div class="profile-picture-btn">
          <button type="button" class="btn-custom btn-default">Edit Photo</button>
        </div>
      </div>
    </div>


    <div class="edit">
      <h4>Company Info</h4>
        <div>
          <div class="edit-fields row">
            <div class="col-sm-3 field-name">Locations</div>
            <div class="col-sm-9 field">
              <div class="row">
                <div class="col-sm-11 field-content">386 Mtn View Rd, NYC, NY, 02025, US</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
              <div class="row">
                <div class="col-sm-11 field-content">1 Infinite Loop, Cupertino, CA, 21312, US</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
            </div>
          </div>
          <div class="edit-btns">       
            <button type="button" class="btn-custom btn-default"><i class="fa fa-plus-circle"></i>Add Location</button>
          </div>
        </div>
        <div>
          <div class="edit-fields row">
            <div class="col-sm-3 field-name">Departments</div>
            <div class="col-sm-9 field">
              <div class="row">
                <div class="col-sm-11 field-content">Engineering</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
              <div class="row">
                <div class="col-sm-11 field-content">Design</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
              <div class="row">
                <div class="col-sm-11 field-content">Sales</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
              <div class="row">
                <div class="col-sm-11 field-content">Marketing</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
              <div class="row">
                <div class="col-sm-11 field-content">Customer Support</div>
                <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
              </div>
            </div>
          </div>
          <div class="edit-btns">       
            <button type="button" class="btn-custom btn-default"><i class="fa fa-plus-circle"></i>Add Department</button>
          </div>
        </div>

      </div>
      <h4>Company Location</h4>
      <div class="edit-fields">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputLocation" class="col-sm-3 control-label label-custom">Location</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-custom" id="inputFirstName" placeholder="Location">
            </div>
          </div>
        </form>
      </div>
      <h4>Company Departments</h4>
      <div class="edit-fields">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputDepartments" class="col-sm-3 control-label label-custom">Departments</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-custom" id="inputFirstName" placeholder="Departments">
            </div>
          </div>
          <div class="edit-btns">
            <button type="button" class="btn-custom btn-default">Cancel</button>
            <button type="button" class="btn-custom btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>

    <div class="final-links">
      <p><a href="blahh">Archived Contacts List</a></p>
    </div>

    
  </div>
</div>