<div class="content container">
    <div class="faq-group">
        <div class="faq-headline">
            <h1>Questions?</h1> 
            <h3>Below are some commonly asked questions about Badge. If you have any other problems please feel free to reach out to us.</h3>
        </div>
        <div class="row faq-buttons">
            <a href="mailto:5f50e0c798d99997d289d68d41287fc59de15c64@incoming.intercom.io" class="btn-custom btn-cta">Ask us a question</a>
            <a href="http://twitter.com/badgeapp" class="btn-custom btn-cta">Tweet us a question</a>
        </div>
        <div class="row">
            <div class="section-header col-lg-10 col-lg-offset-1 col-xs-12">
                <div class="divider-line">
                    <span>
                        <small>FAQ</small>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-question">
                           <h5>What platforms do you support?</h5>
                           <p>iOS7 and above + Android 4 and above. Badge works best on the latest operating systems for each platform. Want something else? Let us know.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Do Badge mobile messages use cellular data on my plan?</h5>
                            <p>If you're on Wifi, Badge sends messages over Wifi. If you are not on Wifi, then the messages use cellular data. However, Badge messages are text-only - so you'd need to send millions to consume even 1MB of data.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Can I send group messages?</h5>
                            <p>Yes! Just create a new message, and select the recipients you'd like to include.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Do the calls go over cellular voice or VoIP?</h5>
                            <p>Cellular voice. To make sure you don't rack up charges you don't want (like international), Badge always shows you the number you're about to call.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Can I add contractors or other people without my company's email address?</h5>
                            <p>You can! Just note that they'll be able to see your whole Badge organization - and you might want to guide them on what to choose for title, department, and boss.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-question">
                           <h5>How do Badge mobile messages work?</h5>
                           <p>It's easy - they're just like text messages, but they go to the Badge app, rather than your text message app. When you message someone, they'll get a notification, and they'll be able to swipe to reply immediately.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Do Badge mobile messages count against my text message limit on my plan?</h5>
                            <p>Nope, not at all.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Does Badge integrate with company email?</h5>
                            <p>Yes! When you send email through Badge, it goes to the recipient's normal email inbox.</p>
                        </div>
                        <div class="faq-question">
                           <h5>How is the data in Badge profiles populated?</h5>
                            <p>Your company admin can populate some of the data. You add the rest during a 60-second onboarding process.</p>
                        </div>
                        <div class="faq-question">
                           <h5>Can I add external contacts like customers?</h5>
                            <p>Badge is designed for internal teams. We don't officially support external contacts like customers right now. Interested in external contacts? <a id="Intercom" href="mailto:5f50e0c798d99997d289d68d41287fc59de15c64@incoming.intercom.io">Let us know.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

