<div class="hero-container container">
    <div class="hero-content">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1 class="hero-headline">Empower Your Font Line <br>Hospitality Employees</h1>
                <div class="cta-forms">
                    <form class="form-inline form-inline-custom" action="/signup" method="post" role="form">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-custom" id="emailPilot" placeholder="Company email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="company" class="form-control form-control-custom" id="companyPilot" placeholder="Company name">
                        </div>
                        <button type="submit" class="btn-custom btn-cta">Get Early Access</button>
                    </form>
                </div>
                <p><small>Badge is available on iOS &amp; Android</small></p>
            </div>
        </div>
    </div>
    <div class="hero-background">
        <%= image_tag_with_at2x("mobile/hospitality/hero-img.jpg", :class => "hero-img") %>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="section-header col-xs-10 col-xs-offset-1">
            <div class="divider-line">
                <span>
                   <small>Features</small>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Directory -->

<div class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h4>A Lite-Weight Task Manager</h4>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
	<%= image_tag_with_at2x("mobile/hospitality/hand1-m.jpg", :class => "content-img") %>
	<div class="content-content">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12">
		            <p>Badge is a simple and intuitive project management app for your mobile team.</p>
		        </div>
		    </div>
		</div>
	</div>
</div>

<!-- Messaging -->

<div class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h4>Mobile Messaging Made For Work</h4>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
	<%= image_tag_with_at2x("mobile/hospitality/hand3-m.jpg", :class => "content-img") %>
	<div class="content-content">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12">
		            <p>Expect responses up to 3x faster than traditional emails.</p>
		        </div>
		    </div>
		</div>
	</div>
</div>

<!-- Contacts -->

<div class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h4>A Better Way To Handle Contacts</h4>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
	<%= image_tag_with_at2x("mobile/hospitality/hand2-m.jpg", :class => "content-img") %>
	<div class="content-content">
		<div class="container">
		    <div class="row">
		        <div class="col-xs-12">
		            <p>Automatically synch all your contacts into one central place.</p>
		        </div>
		    </div>
		</div>
	</div>
</div>

<!-- Onboarding -->
<div class="container">
    <div class="row">
        <div class="section-header col-xs-10 col-xs-offset-1">
            <div class="divider-line">
                <span>
                   <small>Onboarding</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="support-section container">
    <div class="row">
        <div class="after-header col-xs-12">
        	<h4>Roll Out Badge In Minutes</h4>
            <p>You can import employees from Google Apps or BambooHR in one click, with more integrations coming soon! Use something else? No problem, all you need is a list of names and emails, and our account team takes care of the rest!</p>
        </div>
    </div>
</div>

<!-- CTA -->
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>Request early access to Badge.</h3>
                <div class="cta-forms">
                    <form class="form-inline form-inline-custom" role="form">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-custom" id="exampleInputEmail2" placeholder="Company email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-custom" id="exampleInputEmail2" placeholder="Company name">
                        </div>
                        <button type="submit" class="btn-custom btn-cta">Get Early Access</button>
                    </form>
                </div>
                <p><small>Badge is available on iOS </br>&amp; Andriod devices</small></p>
            </div>
        </div>
    </div>
</div>  