<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">
    
    <div class="contact-breadcrumb">
      <h2>
        <a href="../home/users">Contacts</a> <span class="breadcrumb-fwdslsh">/</span> Import Contacts
      </h2>
    </div>
    <div class="add-contacts">
      <h3>Google App Users</h3>
      <p>Please <strong class="custom">deselect</strong> any users that you don’t wish to add to your contact list.</p>
    </div>

    <div class="contact-list">
      <div class="contacts-group">
        <h3>A</h3>
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Amy Bochi</h2>
              </div>
              <div class="contact-email">
                <p>amybochi@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                <input type="checkbox" id="checkbox-1-1" />add contact<label for="checkbox-1-1"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Adam Weil</h2>
              </div>
              <div class="contact-email">
                <p>adamweil@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                <input type="checkbox" id="checkbox-1-1" />add contact<label for="checkbox-1-1"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-group">
        <h3>B</h3>
        
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Bill Sims</h2>
              </div>
              <div class="contact-email">
                <p>billsims@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                <input type="checkbox" id="checkbox-1-1" />add contact<label for="checkbox-1-1"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Brady Listel</h2>
              </div>
              <div class="contact-email">
                <p>bradylistel@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                <input type="checkbox" id="checkbox-1-1" />add contact<label for="checkbox-1-1"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-btns">
        <button type="button" class="btn-custom btn-default">Cancel</button>
        <button type="button" class="btn-custom btn-primary">Connect</button>
      </div>
    </div>
  </div>
</div>