<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">
    
    <div class="contact-breadcrumb">
      <h2>
        <a href="../home/users">Contacts</a> <span class="breadcrumb-fwdslsh">/</span> Import Contacts
      </h2>
    </div>
    <div class="add-contacts">
      <h3>Google App Users</h3>
      <p>Please <strong class="custom">deselect</strong> any users that you don’t wish to add to your contact list.</p>
    </div>

    <div class="contact-list">
      <div class="contacts-group">
        <h3>A</h3>
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Amy Bochi</h2>
              </div>
              <div class="contact-email">
                <p>amybochi@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                  <input type="checkbox" id="c1" />add contact<label for="c1"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Adam Weil</h2>
              </div>
              <div class="contact-email">
                <p>adamweil@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                  <input type="checkbox" id="c2" />add contact<label for="c2"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-group">
        <h3>B</h3>
        
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Bill Sims</h2>
              </div>
              <div class="contact-email">
                <p>billsims@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                <input type="checkbox" id="c3" />add contact<label for="c3"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="import-profile">
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h2>Brady Listel</h2>
              </div>
              <div class="contact-email">
                <p>bradylistel@company.com</p>
              </div>
            </div>
            <div class="add-contact">
              <div class="checkbox checkbox-custom">
                <input type="checkbox" id="c4" />add contact<label for="c4"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btns-spacing-m btns-right">
        <button type="button" class="btn-custom btn-default">Cancel</button>
        <button type="button" class="btn-custom btn-primary" data-toggle="modal" data-target="#myModal">Add Contacts</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body modal-body-custom">
        <p>When you submit your <strong>38 contacts</strong>, we’ll send them an email invitation with a link to the app and onboarding insturctions.  
        <div class="btns-spacing-sm btns-center">
          <button type="button" class="btn-custom btn-primary">Submit Contacts</button>
        </div>
      </div>
      <div class="modal-footer modal-footer-custom">
        <button type="button" class="btn-custom btn-modal btn-default" data-dismiss="modal">No, I still want to edit contacts</button>
      </div>
    </div>
  </div>
</div>