<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">
    <div class="headline">
      <h1>Company Profile</h1>
    </div>
    
    <div class="profile">
      <div class="profile-picture">
        <div class="letter-circle letter-circle-lg">
          <div class="letter-lg"><span>T</span></div>
        </div>
      </div>
      <div class="profile-info">
        <div class="profile-name">
          <h2>Triage</h2>
        </div>
      </div>
    </div>
    <div class="edit">
      <h3>Company Info</h3>
      <div class="edit-groups">
        <div class="edit-fields row">
          <div class="col-sm-3 field-name">Locations</div>
          <div class="col-sm-9 field">
            <div class="row">
              <div class="col-sm-11 field-content">386 Mtn View Rd, NYC, NY, 02025, US</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
            <div class="row">
              <div class="col-sm-11 field-content">1 Infinite Loop, Cupertino, CA, 21312, US</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
          </div>
        </div>
        <div class="edit-btns">
          <button type="button" class="btn-custom btn-default"><i class="fa fa-plus-circle"></i>Add Location</button>
        </div>
      </div>
      <div class="edit-groups">
        <div class="edit-fields row">
          <div class="col-sm-3 field-name">Departments</div>
          <div class="col-sm-9 field">
            <div class="row">
              <div class="col-sm-11 field-content">Engineering</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
            <div class="row">
              <div class="col-sm-11 field-content">Design</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
            <div class="row">
              <div class="col-sm-11 field-content">Sales</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
            <div class="row">
              <div class="col-sm-11 field-content">Marketing</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
            <div class="row">
              <div class="col-sm-11 field-content">Customer Support</div>
              <div class="col-sm-1 field-btn"><a href=""><i class="fa fa-wrench"></i></a></div>
            </div>
          </div>
        </div>
        <div class="edit-btns">
          <button type="button" class="btn-custom btn-default"><i class="fa fa-plus-circle"></i>Add Department</button>
        </div>
      </div>
      <div class="edit-groups">
        <div class="edit-fields">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputCompanyName" class="col-sm-3 control-label label-custom">Company Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-custom" id="inputFirstName" placeholder="Company Name">
              </div>
            </div>
            <div class="edit-btns">
              <button type="button" class="btn-custom btn-default">Cancel</button>
              <button type="button" class="btn-custom btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="final-links">
      <p><a href="blahh">Archived Contacts List</a></p>
    </div>
    
  </div>
</div>