<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">
    <div class="contact-breadcrumb">
      <h2>
      <a href="../home/users">Contacts</a> <span class="breadcrumb-fwdslsh">/</span> Amy Bochi
      </h2>
    </div>
    
    <div class="profile">
      <div class="profile-picture">
       <%= image_tag "amy-bochi.png", :class => "picture-frame" %>
      </div>
      <div class="profile-info">
        <div class="profile-name">
          <h2>Amy Bochi</h2>
        </div>
        <div class="profile-label">
          <span class="label label-default label-custom">Admin</span>
        </div>
      </div>
      <div class="profile-btn">
        <button type="button" class="btn-custom btn-default">Edit Picture</button>
      </div>
    </div>

    <div class="edit">
      <h3>Edit Profile</h3>
      <div class="edit-fields">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputFirstName" class="col-sm-3 control-label label-custom">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-custom" id="inputFirstName" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastName" class="col-sm-3 control-label label-custom">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-custom" id="inputLastName" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label label-custom">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control form-control-custom" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastName" class="col-sm-3 control-label label-custom">Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-custom" id="inputLastName" placeholder="1 (234) 567-8910">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDepartment" class="col-sm-3 control-label label-custom">Department</label>
            <div class="col-sm-9">
              <select class="form-control form-control-custom">
                <option>Design</option>
                <option>Engineering</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPosition" class="col-sm-3 control-label label-custom">Position</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-custom" id="inputPosition" placeholder="Position">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStartDate" class="col-sm-3 control-label label-custom">Start Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-custom" id="inputStartDate" placeholder="01/01/2014">
            </div>
          </div>
          <div class="form-group">
            <label for="inputBirthday" class="col-sm-3 control-label label-custom">Birthday</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-custom" id="inputBirthday" placeholder="01/01">
            </div>
          </div>
        </form>
      </div>
      <div class="edit-btns">       
        <button type="button" class="btn-custom btn-default">Cancel</button>
        <button type="button" class="btn-custom btn-primary">Save</button>
      </div>
    </div>

    <div class="final-links">
      <p><a href="blahh">Change Password</a></p>
      <p><a href="blahh">Sign Outzzzz</a></p>
    </div>

    
  </div>
</div>