<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">
    <div class="contact-breadcrumb">
      <h2>
      <a href="../home/users">Contacts</a> <span class="breadcrumb-fwdslsh">/</span> Import Contacts
      </h2>
    </div>
    
    <div class="profile">
      <div class="profile-picture">
        <div class="icon-circle">
          <div class="icon">
            <%= image_tag "admin/google-apps-logo.png" %>
          </div>
        </div>
      </div>
      <div class="profile-info">
        <div class="profile-name">
          <h2>Google Apps</h2>
        </div>
        <div class="profile-email">
          <p>Connect your Google App account to import your contacts.</p>
        </div>
      </div>
      <div class="profile-btn">
        <button type="button" class="btn-custom btn-default">Cancel</button>
        <button type="button" class="btn-custom btn-primary">Connect</button>
      </div>
    </div>
    
  </div>
</div>