<main role="main">

    <div class="hero">
        
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">Badge</a>
                </div>
            </div>
        </header>

        <div class="hero-content">
            <div class="container">
            	<div class="row">
	            	<div class="section-header col-lg-10 col-lg-offset-1">
	                    <div class="divider-line">
	                        <span>
	                            <small>Early Access</small>
	                        </span>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-10 col-lg-offset-1">
		                <h3>We’re currently rolling out access to Badge. We’ll follow up shortly with an email when we’re ready to onboard you.</h3>
		                <p>Thanks for your interest!</p>
		            </div>
		        </div>
		        <div class="row">
	                <div class="social-copy col-lg-6 col-lg-offset-3">
	                	<p>If you want, you can follow us on twitter for updates.</p>
	                	<btn class=""><i class="fa fa-twitter"></i> @badgeco</btn>
	            	</div>
	            </div>
	        </div>
        </div>

    </div>
</main>