<div class="container">
  <div class="col-lg-6 col-lg-offset-3 main">
    
    <div class="headline">
      <h2>Contacts</h2>
    </div>
    <div class="add-contacts">
      <h4>Add contacts</h4>
      <div class="contact-btns">
        <button type="button" class="btn-custom btn-primary">Add Contact Manually</button>
        <button type="button" class="btn-custom btn-primary">Import From Google Apps</button>
      </div>
    </div>
    <div class="contact-list">
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        37 contacts added to your contact list!
      </div>
      <div class="list-search col-lg-6">
        <form role="form">
          <div class="form-group">
            <input type="search" class="form-control" id="exampleSearch" placeholder="Search">
          </div>
        </form>
      </div>
      <div class="contacts-group">
        <h4>A</h4>
        
        <div class="contact-profile">
          <div class="contact-picture">
            <%= image_tag "amy-bochi.png", :class => "picture-frame-sm" %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Amy Bochi</h3>
              </div>
              <div class="contact-email">
                <p>amybochi@company.com</p>
              </div>
            </div>
            <div class="activity-state">
              <p>active</p>
            </div>
          </div>
        </div>
        <div class="contact-profile">
          <div class="contact-picture">
            <%= image_tag "amy-bochi.png", :class => "picture-frame-sm" %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Adam Weil</h3>
              </div>
              <div class="contact-email">
                <p>adamweil@company.com</p>
              </div>
            </div>
            <div class="activity-state">
              <p>no response</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-group">
        <h4>B</h4>
        
        <div class="contact-profile">
          <div class="contact-picture">
            <%= image_tag "amy-bochi.png", :class => "picture-frame-sm" %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Bill Sims</h3>
              </div>
              <div class="contact-email">
                <p>billsims@company.com</p>
              </div>
            </div>
            <div class="activity-state">
              <p>active</p>
            </div>
          </div>
        </div>
        <div class="contact-profile">
          <div class="contact-picture">
            <%= image_tag "amy-bochi.png", :class => "picture-frame-sm" %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Brady Listel</h3>
              </div>
              <div class="contact-email">
                <p>bradylistel@company.com</p>
              </div>
            </div>
            <div class="activity-state">
              <p>active</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>