<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    
    <div class="headline">
      <h1>Contacts</h1>
    </div>
    <div class="add-contacts">
      <h4>Add contacts</h4>
      <div class="contact-btns">
        <button>Add Contact Manually</button>
        <button>Import From Google Apps</button>
      </div>
    </div>
    <div class="contact-list">
      <div class="list-search">
        <form role="form">
          <div class="form-group">
            <input type="search" class="form-control" id="exampleInputEmail1" placeholder="Search">
          </div>
        </form>
      </div>
      <div class="contacts-group">
        <h4>A</h4>
        
        <div class="contact-profile">
          <div class="contact-picture">
            <%= image_tag ("amy-bochi.png") %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Amy Bochi</h3>
              </div>
              <div class="contact-email">
                <p>amybochi@company.com</p>
              </div>
            </div>
          </div>
          <div class="activity-state">
            <p>Active</p>
          </div>
        </div>
        <div class="contact-profile">
          <div class="profile-picture">
            <%= image_tag ("amy-bochi.png") %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Adam Weil</h3>
              </div>
              <div class="contact-email">
                <p>adamweil@company.com</p>
              </div>
            </div>
          </div>
          <div class="activity-state">
            <p>no response</p>
          </div>
        </div>
      </div>
      <div class="contacts-group">
        <h4>B</h4>
        
        <div class="contact-profile">
          <div class="profile-picture">
            <%= image_tag ("amy-bochi.png") %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Bill Sims</h3>
              </div>
              <div class="contact-email">
                <p>billsims@company.com</p>
              </div>
            </div>
          </div>
          <div class="activity-state">
            <p>active</p>
          </div>
        </div>
        <div class="contact-profile">
          <div class="profile-picture">
            <%= image_tag ("amy-bochi.png") %>
          </div>
          <div class="contact-info">
            <div class="contact">
              <div class="contact-name">
                <h3>Brady Listel</h3>
              </div>
              <div class="contact-email">
                <p>bradylistel@company.com</p>
              </div>
            </div>
          </div>
          <div class="activity-state">
            <p>active</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>