<div class="contact-breadcrumb border">
  <h2>
  <%= link_to 'Company', manage_company_path %> <span class="breadcrumb-fwdslsh">/</span> Edit Office Location
  </h2>
</div>

 <div class="edit border">
  <h3>Office Location</h3>
	<%= render 'form' %>
</div>


