<div>
  <h3>Sign In</h3>
</div>
<div class="sign-in no-border">
  <%= bootstrap_form_for(:user, :url => session_path(:user), :html => { :role => 'form'}, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
    
    
    <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    <%= f.password_field :password, class: 'form-control' %>
    
   <div class="form-actions form-pull-right edit-btns">
    <%= f.submit "Sign In", class: "btn-custom btn-primary" %>
  </div>
  <% end %>
</div>