<%= bootstrap_form_for([:manage, @office_location], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
