// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// No Profile Picture

@mixin long-shadow {
    text-shadow: rgb(225, 178, 107) 1px 1px,
    rgb(225, 178, 107) 2px 2px,
    rgb(225, 178, 107) 3px 3px,
    rgb(225, 178, 107) 4px 4px,
    rgb(229, 181, 109) 5px 5px,
    rgb(233, 184, 111) 6px 6px,
    rgb(237, 188, 113) 7px 7px,
    rgb(241, 191, 115) 8px 8px,
    rgb(245, 194, 117) 9px 9px,
    rgb(250, 198, 119) 10px 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin sm-shadow {
  text-shadow: rgb(225, 178, 107) 1px 1px,
    rgb(225, 178, 107) 2px 2px,
    rgb(233, 184, 111) 3px 3px,
    rgb(241, 191, 115) 4px 4px,
    rgb(250, 198, 119) 5px 5px;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.profile-picture {
  .initials-circle {
    width: 100px;
    height: 100px;
      .initials {
        @include vertical-align;
        span {
          @include long-shadow;
        }
      margin: 0;
      font-size: 2.75em;
      color: #fff;
      font-weight: 700;
      letter-spacing: .1em;
      }
  }
  .picture-frame {
  width: 100px;
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.contact-picture {
  padding: 0 $spacing-m 0 $spacing-sm;
  .initials-circle {
    width: 50px;
    height: 50px;
      .initials {
        @include vertical-align;
        span {
          @include sm-shadow;
        }
      margin: 0;
      font-size: 1.5em;
      color: #fff;
      font-weight: 500;
      letter-spacing: .1em;
      }
  }
  .picture-frame {
  width: 50px;
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.initials-circle {
  background-color: rgb(250, 198, 119);
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}
