// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-custom {
display: inline-block;
margin-bottom: 0;
text-align: center;
min-width: 100px;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid;
white-space: nowrap;
padding: 9px 25px;
line-height: 1.428571429;
border-radius: $border-radius-sm;
text-decoration: none !important;
font-size: 14px;
letter-spacing: 1px;
font-weight:500;
}

.btn-custom + .btn-custom {
	margin-left: $spacing-m;
}

@media(max-width:767px){ 
	.btn-custom + .btn-custom {
	margin-left: 0;
	}
}


.btn-custom i {
	padding-right: 5px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
color: #FF9D00;
background-color: #FEF6EB;
border-color: #ea9308;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
color: #FFFFFF;
background-color: #f79e10;
border-color: #fff;
}

.btn-transparent {
	color: #FFAC26;
	background-color: transparent;
	border: 2px solid #FFAC26;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active {
	color: #FFAC26;
	background-color: rgba(248,174,55,0.15);
	border: 2px solid #FDA414;
}

.btn-cta {
	width: 260px;
	height: 44px;
	color: #FFFFFF;
	border: none;
	background-color: #FFAC26;
	-moz-box-shadow:    0px 2px 0px 0px #AA7216;
	box-shadow:         0px 2px 0px 0px #AA7216;
}

.btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-cta.active {
	background-color: #F39E17;
	-moz-box-shadow:    0px 2px 0px 0px #AA7216;
	box-shadow:         0px 2px 0px 0px #AA7216;
}

.btns-right {
	text-align: right;
}

.btns-center {
	text-align: center;
}

.btns-spacing-m {
	padding-top: $spacing-m;
}

.btns-spacing-sm {
	padding-top: $spacing-sm;
}