// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-custom {
display: inline-block;
margin-bottom: 0;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid;
white-space: nowrap;
padding: 9px 25px;
line-height: 1.428571429;
border-radius: $border-radius-lg;
text-decoration: none !important;
font-size: 14px;
letter-spacing: 1px;
font-weight:500;
height: 48px;
}

.btn-custom + .btn-custom {
	margin-left: $spacing-m;
}

@media(max-width:767px){ 
	.btn-custom + .btn-custom {
	margin-left: 0;
	}
}

.btn-form {
	width: 100%;
	margin-top: 20px;
}

.btn-custom i {
	padding-right: 5px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
color: #FF9D00;
background-color: #FEF6EB;
border-color: #ea9308;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
color: #FFFFFF;
background-color: #f79e10;
border-color: #fff;
}

.btn-transparent {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active {
	color: #fff;
	background-color: rgba(255,255,255,0.15);
	border: 1px solid #fff;
}

.btn-cta {
	width: 260px;
	height: 46px;
	color: #FFFFFF;
	border: none;
	background-color: $brand-primary;
}

@media(max-width:767px){
	.btn-cta {
		font-size: 12px;
		width: 196px;
		height: 33px;
		color: #FFFFFF;
		border: none;
		background-color: $brand-primary;
	}
}
.btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-cta.active {
	background-color: #FFB640;
}

.btns-right {
	text-align: right;
}

.btns-center {
	text-align: center;
}

.btns-spacing-m {
	padding-top: $spacing-m;
}

.btns-spacing-sm {
	padding-top: $spacing-sm;
}