// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-custom {
display: inline-block;
margin-bottom: 0;
text-align: center;
min-width: 100px;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid;
white-space: nowrap;
padding: 7px 23px;
line-height: 1.428571429;
border-radius: $border-radius-sm;
text-decoration: none !important;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.btn-custom + .btn-custom {
	margin-left: $spacing-m;
}

@media(max-width:767px){ 
	.btn-custom + .btn-custom {
	margin-left: 0;
	}
}


.btn-custom i {
	padding-right: 5px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
color: #FF9D00;
background-color: #FEF6EB;
border-color: #ea9308;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
color: #FFFFFF;
background-color: #f79e10;
border-color: #fff;
}

.btn-transparent {
	color: #FFFFFF;
	opacity: 0.4;
	background-color: #f79e10;
	border-color: #fff;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active {
	color: #FFFFFF;
	opacity: 0.4;
	background-color: #f79e10;
	border-color: #fff;
}

.btns-right {
	text-align: right;
}

.btns-center {
	text-align: center;
}

.btns-spacing-m {
	padding-top: $spacing-m;
}

.btns-spacing-sm {
	padding-top: $spacing-sm;
}