// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$active: #87C750;

.green {
	color: #2CB5A8;
}

.alt-background {
	background-color: #FFF5E7;
}

