// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "longshadows";

$border-radius-sm: 3px;
$border-radius-lg: 5px;

$spacing-xsm: 5px;
$spacing-sm: 10px;
$spacing-m: 20px;
$spacing-lg: 30px;
$spacing-xlg: 40px;

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




// NAVBAR

.navbar-brand-custom {
	color: #2CB5A8;
	font-weight: 500;
}

.navbar-custom > li > a {
	font-size: $font-size-small;
	color: $text-color;
	text-transform: uppercase;
	letter-spacing: .05em;
}


// ELEMENTS

.main > div {
	border-bottom: 1px solid $grey-light;

}
.main > div:last-child {
	border-bottom: none;
}

// Headlines

.headline {
	padding-bottom: $spacing-sm;
}

// Bread Crumbs

.contact-breadcrumb {
	padding-bottom: $spacing-sm;
	h2 {
		font-weight: 700;
	}
	a {
		color: $text-color;
	}
	.breadcrumb-fwdslsh {
		color: $grey;
	}
}

// Picture Frame

.contact-picture {
	padding: 0 $spacing-m 0 $spacing-sm;
}

.picture-frame-sm {
	width: 50px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.picture-frame-lg {
	width: 100px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.letter-circle {
	background-color: rgb(250, 198, 119);
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}
.letter-circle-lg {
	width: 100px;
	height: 100px;
    .letter-lg {
    	@include vertical-align;
    	span {
    		@include long-shadow;
    	}
		margin: 0;
		font-size: 2.75em;
		color: #fff;
		font-weight: 700;
		letter-spacing: .1em;
    }
}
.letter-circle-sm {
	width: 50px;
	height: 50px;
    .letter-sm {
    	@include vertical-align;
    	span {
    		@include sm-shadow;
    	}
		margin: 0;
		font-size: 1.5em;
		color: #fff;
		font-weight: 500;
		letter-spacing: .1em;
    }
}

// Forms

.form-group:last-child {
	margin-bottom:0;
}
.control-label {
	font-weight: 400;
	color: $grey;
}
.field-name {
	padding: 7px 15px 0;
	font-weight: 400;
	color: $grey;
	text-align: right;
}
.field {
	padding: 7px 0 0 15px;
	.row:not(:first-child) {
		padding-top: $spacing-sm;
	}
}
.form-control {
	box-shadow: none;
}

.form-pull-right {
	text-align: right;
}

.select2-container {
	background-color: #ececec;
}

// Final Links

.final-links {
	padding-top: $spacing-m;
	text-align: right;
}


// PAGES

// Contact List

// Add Contacts

.add-contacts {
	padding: $spacing-sm 0 $spacing-m 0;
}

.contact-btns {
	padding-top: $spacing-sm;
}


// Contact List

.contact-list {
	padding: $spacing-m 0 $spacing-m 0;
}

.list-search {
	padding-left: 0;
}

.contacts-group {
	padding-top: $spacing-sm;
	clear: left;
}

.contacts-group > h3 {
	padding-bottom: $spacing-sm;
	border-bottom: 1px solid $grey-lighter;
}

.contact-profile {
	clear: left;
	h2 {
		text-transform: none;
		margin: $spacing-xsm 0;
	}
}
.contact-picture {
	float: left;
}


// Contact Info

.contact-info {
	margin: 0 0 $spacing-sm 75px;
	border-bottom: 1px solid $grey-lighter;
}

.contact {
	padding-left: $spacing-xsm;
	width: 73%;
	display: inline-block;
}

.activity-state {
	width: 25%;
	display: inline-block;
	text-align: right;
}



// User

// Profile

.profile {
	padding: $spacing-m 0 $spacing-sm 0;
}

.profile-info {
	text-align: center;
	h2 {
		text-transform: none;
	}
}

// Profile Status

.profile-status {
	text-align: center;
	padding: $spacing-sm 0 $spacing-m 0;
	h3 {
		text-transform: none;
	}
	.profile-status-btn {
		padding-top: $spacing-sm;
	}
}

// Edit

.edit {
	padding: $spacing-sm 0 $spacing-m 0;
	.edit-groups:not(:first-of-type) {
		padding-top: $spacing-xlg;
	}
	.edit-fields {
		padding-top: $spacing-sm;
		width: 100%;
	}
	.edit-btns {
		text-align: right;
		padding-top: $spacing-m;
	}
	h3 {
		padding-top: $spacing-lg;
	}
	h3:first-child {
		padding-top: none;
	}
}