// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-radius-sm: 3px;
$border-radius-lg: 5px;

$spacing-xsm: 5px;
$spacing-sm: 10px;
$spacing-m: 20px;
$spacing-lg: 30px;
$spacing-xlg: 40px;




// Navbar

.navbar-brand-custom {
	color: #2CB5A8;
	font-weight: 500;
}

.navbar-custom > li > a {
	font-size: $font-size-small;
	color: $text-color;
	text-transform: uppercase;
	letter-spacing: .05em;
}


// Elements

.main > div {
	border-bottom: 2px solid $grey-light;
}
.main > div:last-child {
	border-bottom: none;
}

.headline {
	padding-bottom: $spacing-sm;
}


// Picture Frame

.contact-picture {
	padding: 0 $spacing-m 0 $spacing-sm;
}

.picture-frame-sm {
	width: 50px;
	-webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
}


// Add Contacts

.add-contacts {
	padding: $spacing-sm 0 $spacing-m 0;
}

.contact-btns {
	padding-top: $spacing-sm;
}


// Contact List

.contact-list {
	padding: $spacing-m 0 $spacing-m 0;
}

.list-search {
	padding-left: 0;
}

.contacts-group {
	padding-top: $spacing-sm;
	clear: left;
}

.contacts-group > h4 {
	padding-bottom: $spacing-sm;
	border-bottom: 1px solid $grey-lighter;
}

.contact-profile {
	clear: left;
}
.contact-picture {
	float: left;
}


// Contact Info

.contact-info {
	margin: 0 0 $spacing-sm 75px;
	border-bottom: 1px solid $grey-lighter;
}

.contact {
	padding-left: $spacing-xsm;
	width: 73%;
	display: inline-block;
}

.activity-state {
	width: 25%;
	display: inline-block;
	text-align: right;
}