// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
height: 100%;
}


// NAVBAR + FOOTER

// Navbar

.navbar {
	font-weight: 500;
	.navbar-brand-custom {
	color: #2CB5A8;
	}
	.navbar-custom > li > a {
	font-size: 13px;
	color: #2e3b4e;
	text-transform: uppercase;
	padding: 15px 0 0;
	margin: 0 15px;
	background-color: #fff;
	font-weight: 500;
	}
	.navbar-custom > .nav-link > a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: $text-color;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	}
	.navbar-custom > .nav-link > a:hover::after,
	.navbar-custom > .nav-link > a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	}
	.navbar-custom > .active > a:before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: $text-color;
	content: '';
	opacity: 1;
	}
}
.nav-icon {
	display: inline;
	padding-right: $spacing-xsm;
	height: 12px;
	margin-top: -4px;
}

@media(max-width:767px){
	.navbar-toggle-custom {
		.icon-bar {
			background-color: $text-color;
		}
	}
	.navbar .in {
		background-color: #ffffff;
	}
	.navbar .navbar-custom > li > a  {
		background:#fff;
		border-bottom: 1px solid $text-color;
		padding-bottom: 5px;
	}
	.navbar .navbar-custom > .active > a::before {
		height: 0;
	}
}

// Footer

#footer {
	height:170px;
	background-color: #f1f1f0;
	width: 100%;
	text-align: left;
	@media (max-width: 767px) {
	height: 320px;
	text-align: center;
	}
	.footer-links {
		.footer-logo {
			padding-top: 10px;
			float: left;
			@media (max-width: 767px) {
				float: none;
			}
		}
		padding: 50px 0 25px;
		ul {
		list-style-type: none;
		}
		h5 {
			text-transform: uppercase;
			color: #636c7b;
			font-weight: 500;
		}
		li {
		font-size: 14px;
		list-style-type: none;
		}
		.list-links {
			padding: 10px 0 0;
		}
		a {
			color: #9a9a9a;
		}
	}
}

// ELEMENTS


// Borders

.border {
	border-bottom: 1px solid $grey-light;
}

// Forms

.form-group:last-child {
	margin-bottom:0;
}
.control-label {
	font-weight: 400;
	color: $grey;
}
.field-name {
	padding: 7px 15px 0;
	font-weight: 400;
	color: $grey;
	text-align: right;
	@media(max-width:767px){
		text-align: left;
	}
}
.field {
	padding: 7px 0 0 15px;
	.row:not(:first-child) {
		padding-top: $spacing-sm;
	}
}
.form-control {
	box-shadow: none;
}
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-pull-right {
	text-align: right;
}

.has-feedback .form-control-feedback-custom {
position: absolute;
top: 2px;
right: 0;
display: block;
width: 36px;
height: 36px;
line-height: 36px;
text-align: center;
}

select {
	margin-top: 5px;
	background-color: #ffffff;
	border: 1px solid #cccccc;	
}


// Labels
.profile-label {
	padding-bottom: $spacing-sm;
	.label-custom {
	padding: .2em .75em .3em;
	font-size: 1em;
	font-weight: 300;
	color: #fff;
	}
}

label.has-error {
	color: #a94442;
}

// Alert

.alert-success {
	.close-custom {
	margin: -5px;
	font-size: 14px;
	color: #2CB5A8;
	opacity: 1;
	@media(max-width:767px){ 
		font-size: 10px;
		}
	}
}
