// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; 
}
h1 {
	font-family: 'Whitney A', 'Whitney B'; 
}
h2 {
	font-family: 'Whitney A', 'Whitney B'; 
}
h3 {
	font-family: 'Whitney A', 'Whitney B'; 
}
a {
  font-family: 'Whitney SSm A', 'Whitney SSm B'; 
  font-weight: 300; 
  font-style: normal;
}
strong {
  font-family: 'Whitney A', 'Whitney B'; 
  font-weight: 600; 
  letter-spacing: .05em;
}


