<div class="contact-profile">
  <%= avatar_or_initials(user, "contact-picture") %>
  <div class="contact-info">
    <div class="contact">
      <div class="contact-name">
        <h2><%= link_to user.full_name, manage_user_path(user) %></h2>
      </div>
      <div class="contact-email">
        <p><%= user.email %></p>
      </div>
    </div>
    <div class="activity-state">
      <p><%= user.installed_app? %></p>
    </div>
  </div>
</div>