<!-- HeadLine -->
  <div class="headline">
    <h1>Archived Contacts</h1>
  </div>

<!-- Contacts List -->
<div class="contact-list no-border">
	<div class="list-search col-lg-6">
    <form role="form">
      <div class="form-group has-feedback">
        <input type="search" class="form-control" id="search-users" placeholder="Search">
        <span class="glyphicon glyphicon-search form-control-feedback-custom"></span>
      </div>
    </form>
  </div>

  <% alpha = @users.group_by{|u| u.first_name[0] } %>
  <% alpha.each do |alpha, users| %>
  	<div class="contact-group">
  		<h3><%= alpha %></h3>
			<% users.each do |user| %>
				<%= render partial: "user", locals: {user: user} %>
			<% end %>
		</div>
	<% end %>
</div>