<!-- Contacts List -->
<div class="contact-list">
	<div class="list-search col-lg-6">
    <form role="form">
      <div class="form-group">
        <input type="search" class="form-control" id="search-users" placeholder="Search">
      </div>
    </form>
  </div>

  <% alpha = @users.group_by{|u| u.first_name[0] } %>
  <% alpha.each do |alpha, users| %>
  	<div class="contacts-group">
  		<h3><%= alpha %></h3>
			<% users.each do |user| %>
				<%= render partial: "user", locals: {user: user} %>
			<% end %>
		</div>
	<% end %>
</div>