<!-- HeadLine -->
  <div class="headline">
    <h1>Contacts</h1>
  </div>
  <div class="add-contacts">
    <h3>Add contacts</h3>
    <div class="contact-btns">
      <%= link_to 'Add Contact Manually', new_manage_user_path, class: "btn-custom btn-primary" %>
      <%= link_to 'Import From Google Apps', manage_import_path("google"), class: "btn-custom btn-primary" %>
    </div>
  </div>


<!-- Contacts List -->
<div class="contact-list">
	<div class="list-search col-lg-6">
    <form role="form">
      <div class="form-group">
        <input type="search" class="form-control" id="search-users" placeholder="Search">
      </div>
    </form>
  </div>

  <% alpha = @users.group_by{|u| u.first_name[0] } %>
  <% alpha.each do |alpha, users| %>
  	<div class="contact-group">
  		<h3><%= alpha %></h3>
			<% users.each do |user| %>
				<%= render partial: "user", locals: {user: user} %>
			<% end %>
		</div>
	<% end %>
</div>
