// Typography
@import "variables";
// Typography

p {
  font-weight: 400; 
  font-style: normal;
	letter-spacing: .025em;
	color: $grey;
	font-weight: 16px;
}
h1 {
  	font-weight: 600; 
  	font-style: normal;
  	font-size: (16px * 2.1875);
}
h2 {
  	font-weight: 400; 
  	font-style: normal;
  	font-size: (16px * 1.25);
}
h3 {
  	font-weight: 500; 
  	font-style: normal;
  	font-size: (16px * 1);
}
h1, h2, h3, h4 {
	text-transform: uppercase;
	letter-spacing: .05em;
}


// Navbar

.navbar {
	font-weight: 500;
	.navbar-brand-custom {
	color: #2CB5A8;
	}
	.navbar-custom > li > a {
	font-size: 12px;
	color: #2e3b4e;
	text-transform: uppercase;
	padding: 15px 0 0;
	margin: 0 15px;
	background-color: #fff;
	font-weight: 500;
	}
	.navbar-custom > .nav-link > a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: $text-color;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	}
	.navbar-custom > .nav-link > a:hover::after,
	.navbar-custom > .nav-link > a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	}
	.navbar-custom > .active > a:before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: $text-color;
	content: '';
	opacity: 1;
	}
}
.nav-icon {
	display: inline;
	padding-right: $spacing-xsm;
	height: 12px;
	margin-top: -4px;
}

@media(max-width:767px){
	.navbar-toggle-custom {
		margin-top: 15px;
		.icon-bar {
			background-color: $text-color;
		}
	}
	.navbar .in {
		background-color: #ffffff;
	}
	.navbar .navbar-custom > li > a  {
		background:#fff;
		border-bottom: 1px solid $text-color;
		padding-bottom: 5px;
	}
	.navbar .navbar-custom > .active > a::before {
		height: 0;
	}
}

// Footer

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -160px;
}

#push {
	height:170px;
}

// Headlines

.headline {
	padding-bottom: $spacing-sm;
}

// Bread Crumbs

.contact-breadcrumb {
	padding-bottom: $spacing-sm;
	h2 {
		font-weight: 600;
	}
	a {
		color: $text-color;
		font-weight: 600;
	}
	.breadcrumb-fwdslsh {
		color: $grey;
	}
}

// Forms

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.fileUpload:hover, .fileUpload input.upload:hover {
	cursor: pointer;
}


// Checkboxes

.checkbox-custom {
	display: inline;
	color: $grey;
	font-weight: 400;
	input {
	display: none;
	}
	input + label {
		cursor: pointer;
		font-size: 1em;
	}
	input[type="checkbox"] + label {
		background-color: #FFF;
		border: 3px solid $grey-lighter;
		padding: 6px;
		display: inline-block;
		position: relative;
		margin: 0 0 -4px 10px;
	}
	input[type="checkbox"] + label:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	input[type="checkbox"]:checked + label {
		background-color: #FFF;
		border: 3px solid #87C750;
		color: #87C750;
	}
	input[type="checkbox"]:checked + label:after {
		content: '\2713';
		position: absolute;
		top: -2px;
		left: 0px;
		color: #87C750;
		width: 100%;
		text-align: center;
		font-size: .8em;
		padding: 0;
		vertical-align: text-top;
	}
}	

// Modals

.modal,
.fade,
.in {
	background: rgba(225,225,225,0.80);
}

.modal-content {
	  -moz-box-shadow:    0px 0px 2px 0px #E3E4EC;
	  -webkit-box-shadow: 0px 0px 2px 0px #E3E4EC;
	  box-shadow:         0px 0px 2px 0px #E3E4EC;
	  border: none;
	.modal-header-custom,
	.modal-footer-custom,
	.modal-body-custom {
		margin: 0 15px;
		padding: $spacing-m 0;
	}
	.modal-body-custom {
		text-align: center;
	}
	.modal-footer-custom {
		text-align: center;
		border-top: 1px solid #e5e5e5;
	}
}

button.close-custom {
	font-size: 14px;
}

// Final Links

.final-links {
	padding-top: $spacing-m;
	text-align: right;
}


// PAGES

// Contact List

// Add Contacts

.add-contacts {
	padding: $spacing-sm 0 $spacing-m 0;
}

.contact-btns {
	padding-top: $spacing-sm;
}


// Contact List

.contact-list {
	padding: $spacing-m 0 $spacing-m 0;
}

.list-search {
	padding-left: 0;
	padding-bottom: $spacing-lg;
}

.contact-group {
	clear: left;
	h3 {
		margin-bottom: 0;
		padding-bottom: $spacing-sm;
		border-bottom: 1px solid $grey-lighter;
	}
	div:last-of-type{
		.contact-info {
			border-bottom: none;
		}
	}
}

.contact-profile {
	clear: left;
	padding-top: $spacing-sm;
	.contact-picture {
	float: left;
	}
	h2 {
		text-transform: none;
		margin: $spacing-xsm 0;
		a {
			color: $text-color;
			font-weight: 400;
		}
	}
	.contact-info {
		margin: 0 0 0 75px;
		border-bottom: 1px solid $grey-lighter;
		@media(max-width:767px){ 
		padding-bottom: 10px;
		}
	}
}

.contact-profile:hover,
.contact-profile:focus {
	background-color: #FFFCF1; 
}


// Contact Info


.contact {
	padding-left: $spacing-xsm;
	width: 70%;
	display: inline-block;
	@media(max-width:767px){ 
		padding-left: 0;
		width: 100%;
	}
}

.activity-state {
	width: 28%;
	display: inline-block;
	text-align: right;
	position: relative;
	@media(max-width:767px) {
		width: 100%;
		text-align: left;
	}
	p {
		display: inline;
		text-align: right;
		@media(max-width:767px) {
			display: inline-block;
		}
	}
	.active {
		color: $active;
	}
	.activity-icon {
	width: 30px;
	display: inline-block;
	text-align: center;
		.fa {
			position: relative;
		}
		.fa-mobile {
			font-size: 26px;
			color: $active;
			top: 3px;

		}
		.fa-envelope-o {
			font-size: 20px;
			color: $grey-light;
			top: 2px;
		}
		@media(max-width:767px){ 
			text-align: right;
		}
	}
}



// User

// Profile

.profile {
	padding: $spacing-m 0 $spacing-sm 0;
	.profile-info {
	text-align: center;
	h2 {
		text-transform: none;
		}
	}
	.edit-picture {
		padding: $spacing-m 0;
		label {
			display: block;
			text-align: center;
			padding-bottom: $spacing-sm;
		}
	}
	.profile-btn {
		padding: $spacing-sm 0;
	}
}

.file-input-form {
	text-align: center;
	input[type="file"]:focus {
		outline: invert none medium;
	}
	.custom-file-input::-webkit-file-upload-button {
  		visibility: hidden;
	}
	.custom-file-input::before {
	  content: 'Upload File';
	  display: inline-block;
	  border: 1px solid;
	  border-radius: 3px;
	  padding: 5px 8px;
	  color: #f79e10;
	  background-color: #fff;
	  border-color: #f79e10;
	  outline: none;
	  white-space: nowrap;
	  -webkit-user-select: none;
	  cursor: pointer;
	  font-size: 10pt;
	}
	.custom-file-input:hover::before {
	  color: #FF9D00;
	  background-color: #FEF6EB;
	  border-color: #ea9308;
	}
	.custom-file-input:active::before {
	  background-color: #FEF6EB;
	}
}

// Profile Status

.profile-status {
	text-align: center;
	padding: $spacing-sm 0 $spacing-sm 0;
	h3 {
		text-transform: none;
	}
	.profile-status-btn{
		padding-bottom: $spacing-sm;
	}
}

// Edit

.edit {
	padding: $spacing-sm 0 $spacing-m 0;
	.edit-groups:not(:first-of-type) {
		padding-top: $spacing-xlg;
	}
	.edit-fields {
		padding-top: $spacing-sm;
		width: 100%;
	}
}
.edit-btns {
		padding-top: $spacing-m;
}


// Prompt_import

.field-description {
	font-size: 14px;
	color: $brand-primary;
}


// Import List

.import-profile {
	clear: left;
	padding: 0 0 $spacing-sm;
	h2 {
		text-transform: none;
		margin: $spacing-xsm 0;
	}
	.contact-info {
		margin: 0;
		border-bottom: 1px solid $grey-lighter;
		.add-contact {
			display: inline-block;
			text-align: right;
			width: 26%;
			@media(max-width:767px){ 
					text-align: left;
					width: 100%;
					padding-bottom: $spacing-sm;
					.checkbox {
						padding-left: 0;
					}
				}
			p {
				display: inline;
			}
		}
	}
}


.contact-group .import-profile:not(:first-of-type) {
		padding-top: $spacing-sm;
}

// Company

// Ofice Location & Departments

.form-padding {
	padding-top: 10px;
}

// Sign-in Page 

.sign-in {
	padding-top: 20px;
}

// Download Page 

.download-background {
	background-color: #FFF5E7;
	margin-top: 100px;
	max-height: 350px;
	@media(max-width:767px){ 
		margin-top: 0;
		background-color: #FFFFFF;
		text-align: center;
	}
}
.download-screenshot {
	margin-top: -80px;
}

.download-content {
	margin-top: 60px;
	h2 {
		font-weight: 600;
		text-transform: none;
	}
	.download-altcolor {
		color: $text-color;
	}
	.download-form {
		margin-top: $spacing-xlg;
	}
	@media(max-width:767px){ 
		margin-top: 40px;
		.download-form {
		margin-top: $spacing-m;
		text-align: center;
		}
		.edit-btns {
			padding-bottom: $spacing-m;
		}
	}
}

.download-form {
	.input-group {
		.form-control{
			background-color: #fff;
			border: 1px solid $brand-primary;
		}
	}
}

#response {
	padding-top:$spacing-m;
}
