<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <ul class="footer-links">
                    <div class="row">
                        <li class="col-lg-2">
                            <div class="footer-headline">
                                <%= image_tag ("badge-logo-sm.png"), :class => "footer-logo"  %>
                            </div>
                        </li>
                        <li class="col-lg-4">
                        </li>
                        <li class="col-lg-2">
                            <div class="footer-headline">
                                <h5>Learn More</h5>
                            </div>
                            <ul class="list-links">
                                <li>
                                    <%= link_to 'FAQ', faq_url(subdomain: nil) %>
                                </li>
                                <li>
                                    <%= link_to 'About Us', about_url(subdomain: nil) %>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-2">
                            <div class="footer-headline">
                                <h5>Get In Touch</h5>
                            </div>
                            <ul class="list-links">
                                <li>
                                    <a href="mailto:team@badge.co">Contact Us</a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/badgeapp"><i class="fa fa-twitter"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-2">
                            <div class="footer-headline">
                                <h5>Badge</h5>
                            </div>
                            <ul class="list-links">
                                <li>
                                    <% if user_signed_in? %>
                                        <%= link_to 'Sign Out', destroy_user_session_url(subdomain: nil), method: :delete %>
                                    <% else %>
                                        <a href="/users/sign_in">Login</a>
                                    <% end %>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
        
</div>