<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="footer-links">
                    <div class="row">
                        <li class="col-lg-3">
                            <div class="footer-headline">
                                <%= image_tag ("badge-logo-sm.png"), :class => "footer-logo"  %>
                            </div>
                        </li>
                        <li class="col-lg-3">
                            <div class="footer-headline">
                                <h5>Learn More</h5>
                            </div>
                            <ul class="list-links">
                                <li>
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="/about">About Us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <div class="footer-headline">
                                <h5>Get In Touch</h5>
                            </div>
                            <ul class="list-links">
                                <li>
                                    <a href="mailto:team@badge.co">Contact Us</a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/badgeapp"><i class="fa fa-twitter"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <div class="footer-headline">
                                <h5>Badge</h5>
                            </div>
                            <ul class="list-links">
                                <li>
                                    <a href="/users/sign_in">Login</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
        
</footer>