<%# Rails flash messages styled for Bootstrap 3.0 %>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert <%= bootstrap_class_for(name) %>">
      <button type="button" class="close close-custom" data-dismiss="alert" aria-hidden="true"><%= icon "times" %></button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

